/* why-tasty
============================== */
.why-tasty {
  background-color: $white;
  background-image: $bg-grad-white;
}

.why-tasty__inner {
  background-image: url("../img/cook.png");
  background-repeat: no-repeat;
  background-position: 97% 100%;
  background-size: 383px 708px;
}

.why-tasty__content {
  max-width: rem(675px);
  padding: rem(100px) 0 rem(95px);
  padding-left: rem(80px);
}

.why-tasty__title {
  @include font-size(62px, 74px);

  max-width: rem(405px);
  margin: 0 0 rem(32px);

  color: $dark-blue;
}

.why-tasty__annotation {
  @include font-size(15px, 23px);

  max-width: rem(405px);
  margin-bottom: rem(68px);
}

.advantage {
  font-size: 0;
}

.advantage__item {
  @include inline-block(bottom);

  width: 30%;
  margin-right: rem(22px);
  margin-bottom: rem(22px);

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.advantage__img-wraper {
  position: relative;

  width: 90px;
  height: 90px;
  margin-bottom: rem(32px);

  background-color: rgba($dark-grey, 0.1);
  border-radius: 50%;
}

.advantage__img {
  @include img(106px, inline-block, none);

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.advantage__text {
  @include font-size($fs_base, 20px);

  font-family: $ff_alternate;
}
