/* BASE STYLES
============================== */
*,
*  before,
*  after {
  box-sizing: inherit;
}

body,
html {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;

  font-size: $fs_rem;
}

body {
  @include font-size($fs_base, $lh_base);

  font-family: $ff_base;
  color: $txt-c_base;
  word-wrap: break-word;

  background-color: $bg-c_base;

  -webkit-font-smoothing: antialiased;
}

.page-wrapper {
  position: relative;

  min-width: $container-width + 20px;
  min-height: 100%;
  overflow: hidden;
}

.page-wrapper:after {
  content: "";

  display: block;
  height: $footer-height;
  overflow: hidden;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

ul {
  @include clear-list;
}

footer {
  position: relative;

  width: 100%;
  min-width: $container-width + 20px;
  height: $footer-height;
  margin-top: -$footer-height;
}

.page-content__title,
.section__title {
  font-weight: 400;
  font-family: $ff_alternate;

  &--hidden {
    @extend %visually-hidden;
  }
}
