/* BASE STYLES
============================== */
*,
*  before,
*  after {
  box-sizing: inherit;
}

body,
html {
  width: 100%;
  height: 100%;
}

html {
@include lg {
    font-size: $fs_rem - 1px;
  }

@include md {
    font-size: $fs_rem - 2px;
  }

@include sm {
    font-size: $fs_rem - 3px;
  }

@include xs {
    font-size: $fs_rem - 4px;
  }

  box-sizing: border-box;

  font-size: $fs_rem;
}

body {
  @include font-size($fs_base, $lh_base);

  font-family: $ff_base;
  color: $txt-c_base;
  word-wrap: break-word;

  background-color: $bg-c_base;

  -webkit-font-smoothing: antialiased;
}

.page-wrapper {
  position: relative;

  min-width: $container-width + 20px;
  min-height: 100%;
  overflow: hidden;
}

.page-wrapper:after {
  content: "";

  display: block;
  height: $footer-height;
  overflow: hidden;
}

.container {
@include lg {
    width: $screen-lg_bp;
  }

@include md {
    width: $screen-md_bp;
  }

@include sm {
    width: auto;
  }

  width: $container-width;
  margin: 0 auto;
  padding: 0 10px;
}

ul {
  @include clear-list;
}

footer {
  position: relative;

  width: 100%;
  min-width: $container-width + 20px;
  height: $footer-height;
  margin-top: -$footer-height;
}

.main-title,
.section-title {
  &--hidden {
    @extend %visually-hidden;
  }
}
