/* MIXINS
============================== */

/* PX to REM function
******************************/
@function rem($px) {
	@return ($px / $fs_rem) * 1rem;
}

/* Font size and line height
******************************/
@mixin font-size($fs: $fs_base, $lh: false) {
  //fs: $fs; /* Fallback in px */
	font-size: rem($fs);

	@if $lh != false {
		line-height: ($lh / $fs);
	}
}

/* Font Styles
******************************/
@mixin font-source-sans($size: false, $colour: false, $weight: false, $lh: false) {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

/* Image width 100%
******************************/
@mixin img($width: false, $display: block, $max-width: 100%, $height: auto) {
  @if $width != false {
    width: $width;
	}
  display: $display;
  max-width: $max-width;
  height: $height;
}

/* Clearfix
******************************/
%clearfix {
  &:before,
  &:after {
    content: "";

    display: table;
  }
  &:after {
    clear: both;
  }
}

/* Visually hidden element
******************************/
%visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
}

/* Clear marging/padding
******************************/
@mixin clear {
  margin: 0;
  padding: 0;
}

/* Clear list
******************************/
@mixin clear-list {
  list-style: none;

  @include clear;
}

/* Centerize flex element
******************************/
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inline-block
******************************/
@mixin inline-block($value: top) {
	display: inline-block;
	vertical-align: $value;
}

/* Pseudo element
******************************/
@mixin pseudo($display: block, $pos: absolute, $content: ""){
  content: $content;
  display: $display;
  position: $pos;
}

/* CSS triangle
******************************/
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round {
      border-radius: 3px;
  }
  @if $direction == down {
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-top: $size solid $color;
      margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-bottom: $size solid $color;
      margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-left: $size solid $color;
      margin-right: -$size;
  } @else if  $direction == left {
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-right: $size solid $color;
      margin-left: -$size;
  }
}

/* Media queries
******************************/
@mixin xl { @media screen and (max-width: #{$screen-xl - 1px}) {@content;} } // Extra large devices
@mixin lg { @media screen and (max-width: #{$screen-lg - 1px}) {@content;} } // Large devices
@mixin md { @media screen and (max-width: #{$screen-md - 1px}) {@content;} } // Medium devices
@mixin sm { @media screen and (max-width: #{$screen-sm - 1px}) {@content;} } // Small devices
@mixin xs { @media screen and (max-width: #{$screen-xs - 1px}) {@content;} } // Tiny devices