// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-butter-name: 'icon-butter';
$icon-butter-x: 0px;
$icon-butter-y: 181px;
$icon-butter-offset-x: 0px;
$icon-butter-offset-y: -181px;
$icon-butter-width: 26px;
$icon-butter-height: 19px;
$icon-butter-total-width: 50px;
$icon-butter-total-height: 442px;
$icon-butter-image: '../img/sprite.png';
$icon-butter: (0px, 181px, 0px, -181px, 26px, 19px, 50px, 442px, '../img/sprite.png', 'icon-butter', );
$icon-cabinet-name: 'icon-cabinet';
$icon-cabinet-x: 0px;
$icon-cabinet-y: 98px;
$icon-cabinet-offset-x: 0px;
$icon-cabinet-offset-y: -98px;
$icon-cabinet-width: 17px;
$icon-cabinet-height: 17px;
$icon-cabinet-total-width: 50px;
$icon-cabinet-total-height: 442px;
$icon-cabinet-image: '../img/sprite.png';
$icon-cabinet: (0px, 98px, 0px, -98px, 17px, 17px, 50px, 442px, '../img/sprite.png', 'icon-cabinet', );
$icon-check-name: 'icon-check';
$icon-check-x: 0px;
$icon-check-y: 0px;
$icon-check-offset-x: 0px;
$icon-check-offset-y: 0px;
$icon-check-width: 12px;
$icon-check-height: 11px;
$icon-check-total-width: 50px;
$icon-check-total-height: 442px;
$icon-check-image: '../img/sprite.png';
$icon-check: (0px, 0px, 0px, 0px, 12px, 11px, 50px, 442px, '../img/sprite.png', 'icon-check', );
$icon-eggs-name: 'icon-eggs';
$icon-eggs-x: 0px;
$icon-eggs-y: 44px;
$icon-eggs-offset-x: 0px;
$icon-eggs-offset-y: -44px;
$icon-eggs-width: 22px;
$icon-eggs-height: 17px;
$icon-eggs-total-width: 50px;
$icon-eggs-total-height: 442px;
$icon-eggs-image: '../img/sprite.png';
$icon-eggs: (0px, 44px, 0px, -44px, 22px, 17px, 50px, 442px, '../img/sprite.png', 'icon-eggs', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 0px;
$icon-facebook-y: 337px;
$icon-facebook-offset-x: 0px;
$icon-facebook-offset-y: -337px;
$icon-facebook-width: 11px;
$icon-facebook-height: 22px;
$icon-facebook-total-width: 50px;
$icon-facebook-total-height: 442px;
$icon-facebook-image: '../img/sprite.png';
$icon-facebook: (0px, 337px, 0px, -337px, 11px, 22px, 50px, 442px, '../img/sprite.png', 'icon-facebook', );
$icon-flour-name: 'icon-flour';
$icon-flour-x: 0px;
$icon-flour-y: 210px;
$icon-flour-offset-x: 0px;
$icon-flour-offset-y: -210px;
$icon-flour-width: 21px;
$icon-flour-height: 21px;
$icon-flour-total-width: 50px;
$icon-flour-total-height: 442px;
$icon-flour-image: '../img/sprite.png';
$icon-flour: (0px, 210px, 0px, -210px, 21px, 21px, 50px, 442px, '../img/sprite.png', 'icon-flour', );
$icon-ingredient-name: 'icon-ingredient';
$icon-ingredient-x: 0px;
$icon-ingredient-y: 153px;
$icon-ingredient-offset-x: 0px;
$icon-ingredient-offset-y: -153px;
$icon-ingredient-width: 18px;
$icon-ingredient-height: 18px;
$icon-ingredient-total-width: 50px;
$icon-ingredient-total-height: 442px;
$icon-ingredient-image: '../img/sprite.png';
$icon-ingredient: (0px, 153px, 0px, -153px, 18px, 18px, 50px, 442px, '../img/sprite.png', 'icon-ingredient', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 0px;
$icon-instagram-y: 369px;
$icon-instagram-offset-x: 0px;
$icon-instagram-offset-y: -369px;
$icon-instagram-width: 22px;
$icon-instagram-height: 22px;
$icon-instagram-total-width: 50px;
$icon-instagram-total-height: 442px;
$icon-instagram-image: '../img/sprite.png';
$icon-instagram: (0px, 369px, 0px, -369px, 22px, 22px, 50px, 442px, '../img/sprite.png', 'icon-instagram', );
$icon-milk-cond-name: 'icon-milk-cond';
$icon-milk-cond-x: 0px;
$icon-milk-cond-y: 241px;
$icon-milk-cond-offset-x: 0px;
$icon-milk-cond-offset-y: -241px;
$icon-milk-cond-width: 18px;
$icon-milk-cond-height: 22px;
$icon-milk-cond-total-width: 50px;
$icon-milk-cond-total-height: 442px;
$icon-milk-cond-image: '../img/sprite.png';
$icon-milk-cond: (0px, 241px, 0px, -241px, 18px, 22px, 50px, 442px, '../img/sprite.png', 'icon-milk-cond', );
$icon-ok-name: 'icon-ok';
$icon-ok-x: 0px;
$icon-ok-y: 273px;
$icon-ok-offset-x: 0px;
$icon-ok-offset-y: -273px;
$icon-ok-width: 13px;
$icon-ok-height: 22px;
$icon-ok-total-width: 50px;
$icon-ok-total-height: 442px;
$icon-ok-image: '../img/sprite.png';
$icon-ok: (0px, 273px, 0px, -273px, 13px, 22px, 50px, 442px, '../img/sprite.png', 'icon-ok', );
$icon-qoute-name: 'icon-qoute';
$icon-qoute-x: 0px;
$icon-qoute-y: 401px;
$icon-qoute-offset-x: 0px;
$icon-qoute-offset-y: -401px;
$icon-qoute-width: 50px;
$icon-qoute-height: 41px;
$icon-qoute-total-width: 50px;
$icon-qoute-total-height: 442px;
$icon-qoute-image: '../img/sprite.png';
$icon-qoute: (0px, 401px, 0px, -401px, 50px, 41px, 50px, 442px, '../img/sprite.png', 'icon-qoute', );
$icon-search-name: 'icon-search';
$icon-search-x: 0px;
$icon-search-y: 71px;
$icon-search-offset-x: 0px;
$icon-search-offset-y: -71px;
$icon-search-width: 18px;
$icon-search-height: 17px;
$icon-search-total-width: 50px;
$icon-search-total-height: 442px;
$icon-search-image: '../img/sprite.png';
$icon-search: (0px, 71px, 0px, -71px, 18px, 17px, 50px, 442px, '../img/sprite.png', 'icon-search', );
$icon-sugar-name: 'icon-sugar';
$icon-sugar-x: 0px;
$icon-sugar-y: 305px;
$icon-sugar-offset-x: 0px;
$icon-sugar-offset-y: -305px;
$icon-sugar-width: 21px;
$icon-sugar-height: 22px;
$icon-sugar-total-width: 50px;
$icon-sugar-total-height: 442px;
$icon-sugar-image: '../img/sprite.png';
$icon-sugar: (0px, 305px, 0px, -305px, 21px, 22px, 50px, 442px, '../img/sprite.png', 'icon-sugar', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 0px;
$icon-twitter-y: 125px;
$icon-twitter-offset-x: 0px;
$icon-twitter-offset-y: -125px;
$icon-twitter-width: 22px;
$icon-twitter-height: 18px;
$icon-twitter-total-width: 50px;
$icon-twitter-total-height: 442px;
$icon-twitter-image: '../img/sprite.png';
$icon-twitter: (0px, 125px, 0px, -125px, 22px, 18px, 50px, 442px, '../img/sprite.png', 'icon-twitter', );
$icon-vkontakte-name: 'icon-vkontakte';
$icon-vkontakte-x: 0px;
$icon-vkontakte-y: 21px;
$icon-vkontakte-offset-x: 0px;
$icon-vkontakte-offset-y: -21px;
$icon-vkontakte-width: 22px;
$icon-vkontakte-height: 13px;
$icon-vkontakte-total-width: 50px;
$icon-vkontakte-total-height: 442px;
$icon-vkontakte-image: '../img/sprite.png';
$icon-vkontakte: (0px, 21px, 0px, -21px, 22px, 13px, 50px, 442px, '../img/sprite.png', 'icon-vkontakte', );
$spritesheet-width: 50px;
$spritesheet-height: 442px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-butter, $icon-cabinet, $icon-check, $icon-eggs, $icon-facebook, $icon-flour, $icon-ingredient, $icon-instagram, $icon-milk-cond, $icon-ok, $icon-qoute, $icon-search, $icon-sugar, $icon-twitter, $icon-vkontakte, );
$spritesheet: (50px, 442px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
