/* VARIABLES
============================== */

/* Colors
******************************/
$white:           #fff;
$yellow:          #ffb100;
$brown:           #883213;
$dark-blue:       #2b2f60;
$light-grey:      #8d8d8d;
$dark-grey:       #747474;
$darkest-grey:    #484848;
$black:           #393939;

$txt-c_base:      $dark-grey; // Text-color base
$bg-c_base:       $white; // Background-color base

/* Fonts
******************************/
$fs_rem:            16px; // Font-size rem(html)
$fs_base:           16px; // Font-size base(body)
$fs_h2:             62px; // Font-size for h2
$lh_base:           23px; // Line-height base
$fw_base:           400; // Font-weight
$ff_base:           "Arial", sans-serif; // Font-family base
$ff_title:          "ALS Malina", monospace; // Font-family base

/* Sizes
******************************/
$screen-xl:          1200px; // Large tablets and desktops
$screen-lg:          992px; // Tablets and small desktops
$screen-md:          768px; // Small tablets (portrait view)
$screen-sm:          480px; // Small tablets (portrait view)
$screen-xs:          320px; // Tiny phones

$screen-xl_bp:       1140px; // Breakpoint for media query
$screen-lg_bp:       960px;
$screen-md_bp:       720px;
$screen-sm_bp:       540px;
$screen-xs_bp:       auto;

$footer-height:      125px;
$container-width:    1100px;