/* VARIABLES
============================== */

/* Colors
******************************/
$white:           #fff;
$yellow:          #fca211;
$red:             #bb262a;
$brown:           #893213;
$dark-blue:       #2b2f60;
$light-grey:      #8d8d8d;
$dark-grey:       #747474;
$darkest-grey:    #484848;
$black:           #393939;

$bg-grad-white:   linear-gradient(to right, rgba(200, 200, 200, 0.3), rgba(228, 228, 228, 0.1));
$bg-grad-grey:    linear-gradient(to right, rgba(200, 200, 200, 0.3), rgba(228, 228, 228, 0.1), rgba(200, 200, 200, 0.3));
$bg-grad-yellow:  linear-gradient(to bottom left, #feb801, #ffab26);
$bg-grad-red:     linear-gradient(to right, #cf3538, #a4161c);

$txt-c_base:      $dark-grey; // Text-color base
$bg-c_base:       $white; // Background-color base

/* Fonts
******************************/
$fs_rem:            16px; // Font-size rem(html)
$fs_base:           16px; // Font-size base(body)
$fs_h2:             62px; // Font-size for h2
$lh_base:           23px; // Line-height base
$fw_base:           400; // Font-weight
$ff_base:           "Arial", sans-serif; // Font-family base
$ff_alternate:      "ALS Malina", monospace; // Font-family base

/* Sizes
******************************/
$screen-xl:          1200px; // Large tablets and desktops
$screen-lg:          992px; // Tablets and small desktops
$screen-md:          768px; // Small tablets (portrait view)
$screen-sm:          480px; // Small tablets (portrait view)
$screen-xs:          320px; // Tiny phones

$screen-xl_bp:       1140px; // Breakpoint for media query
$screen-lg_bp:       960px;
$screen-md_bp:       720px;
$screen-sm_bp:       540px;
$screen-xs_bp:       auto;

$footer-height:      125px;
$container-width:    1100px;